{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<!DOCTYPE html>
<html>
<head>
<title>Creative Colorlib SignUp Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>
<body>
  <!DOCTYPE html>
  <html>
  <head>
  <title>Creative Colorlib SignUp Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
  </head>
  <body>
  
    <!-- main -->
    <div class="main-w3layouts wrapper">
      <h1>Đăng nhập</h1>
      <div class="main-agileinfo">
        <div class="agileits-top">
          <form method="post">
              {% if error %}
              <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
              {% endif %}
  
              {% if app.user %}
                  <div class="mb-3">
                      You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                  </div>
              {% endif %}
              <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="text email" autocomplete="email" required autofocus>
              <input type="password" name="password" id="inputPassword" class="text" autocomplete="current-password" required>
              <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
  
                  <button class="btn btn-lg btn-primary" type="submit">
                      Đăng nhập
                  </button>
            
              </form>
            <p>chưa có tài khoản! <a href="/register"> Đăng ký ngay</a></p>
          </div>
{% endblock %}