{% extends 'adminDashboard.html.twig' %}
{% block body %}
    {% if app.flashes('insert_movie') is not empty %}
        <script>
            window.onload = function() {
                alert("Thêm phim thành công !");
                {% do app.session.flashBag.clear('insert_movie') %}
            };
        </script>
    {% endif %}
    {% if app.flashes('update_movie') is not empty %}
        <script>
            window.onload = function() {
                alert("Cập nhật thông tin phim thành công !");
                {% do app.session.flashBag.clear('update_movie') %}
            };
        </script>
    {% endif %}
    {% if app.flashes('delete_movie') is not empty %}
        <script>
            window.onload = function() {
                alert("Xóa phim thành công !");
                {% do app.session.flashBag.clear('delete_movie') %}
            };
        </script>
    {% endif %}

    <div class="body flex-grow-1 px-3">
        <div class="container-lg">
            <div class="card mb-4">
                <div class="card-header">
                    <strong>Danh sách</strong><span class="small ms-1">Phim</span>
                </div>
                <div class="card-body">
                    <a href="/movie/create-movie" class="btn btn-primary active" aria-pressed="true" style="background-color: green; float:right; border: black">Thêm phim</a>
                    <form id="search-form" action="#" method="GET">
                        <div class="input-group mb-3" style="float:left; max-width: 600px; margin: auto;">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="search_field">Tìm kiếm theo:</label>
                            </div>
                            <select class="custom-select" name="search_field" id="search_field">
                                <option value="username">Tiêu đề</option>
                            </select>
                            <input type="search" name="search_query" class="form-control" placeholder="Nhập từ khóa...">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit" style="background-color:#5DADE2;color:black">Tìm kiếm</button>
                            </div>
                        </div>
                    </form>

                    <div class="example">
                        <div class="tab-content rounded-bottom">
                            <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-387">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Avatar</th>
                                            <th>Tiêu đề</th>
                                            <th>Mô tả</th>
                                            <th>Ngày tạo</th>
                                            <th>Ngày cập nhật</th>
                                            <th style="float: center; padding: 7px 35px">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody id="movie-table-body">
                                        {% for movie in movies %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>
                                                <img src="{{ movie.img }}" alt="Avatar" style="width: 50px; height: 50px; overflow: hidden; border-radius: 50%;">
                                            </td>
                                            <td>{{ movie.title }}</td>
                                            <td>{{ movie.description }}</td>
                                            <td>{{ movie.created|date("Y-m-d H:i:s") }}</td>
                                            <td>{{ movie.updated|date("Y-m-d H:i:s") }}</td>
                                            
                                            <td>
                                                <a href="/movie/edit-movie/{{ movie.id }}" class="btn btn-primary active"  aria-pressed="true" style="background-color: #5DADE2;border: black ">sửa</a>
                                                |
                                                <a href="#" class="btn btn-danger btn-delete" data-id="{{ movie.id }}" role="button">xóa</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navigation">
                {{ knp_pagination_render(movies) }}
            </div>
            <nav aria-label="Page navigation example" style="float:right">
                <div>
                </div>
            </nav>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const searchForm = document.querySelector('#search-form');

            searchForm.addEventListener('submit', function(event) {
                event.preventDefault();
                const submitButton = searchForm.querySelector('button[type="submit"]');
                submitButton.disabled = true;
                const customerTableBody = document.querySelector('#movie-table-body');
                customerTableBody.innerHTML = '';
                const searchField = document.querySelector('select[name="search_field"]').value;
                const searchQuery = document.querySelector('input[name="search_query"]').value;
                fetch(`/movie/search-movie?search_field=${searchField}&search_query=${encodeURIComponent(searchQuery)}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        data.forEach((movie, index) => {
                            const stt = index + 1;
                            const row = `
                                <tr>
                                    <td>${stt}</td>
                                    <td>
                                        <img src="${movie.img}" alt="Avatar" style="width: 50px; height: 50px; overflow: hidden; border-radius: 50%;">
                                    </td>
                                    <td>${movie.title}</td>
                                    <td>${movie.description}</td>
                                    <td>${movie.phonenumber}</td>
                                    <td>${movie.created}</td>
                                    <td>${movie.updated}</td>
                                    <td>
                                        <a href="/admin/edit-customer/${movie.id}" class="btn btn-primary active" style="background-color: #5DADE2; border: black">sửa</a>
                                        |
                                        <a href="#" class="btn btn-danger btn-delete" data-id="${movie.id}" role="button">xóa</a>
                                    </td>
                                </tr>
                            `;
                            customerTableBody.innerHTML += row;
                        });
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    })
                    .finally(() => {
                        submitButton.disabled = false;
                    });
            });
            const deleteButtons = document.querySelectorAll('.btn-delete');

            deleteButtons.forEach(function(button) {
                button.addEventListener('click', function(event) {
                    event.preventDefault();
                    const movieID = event.target.getAttribute('data-id');
                    const confirmDelete = confirm("Bạn có chắc chắn muốn xóa phim này?");
                    if (confirmDelete) {
                        window.location.href = `/movie/delete-movie/${movieID}`;
                    }
                });
            });
        });
    </script>
{% endblock %}